__pycache__
*.py[cod]
*$py.class

.idea
.DS_Store

# Ignore egg-info files
*.egg-info/

# Ignore coverage data
.coverage
htmlcov

.pytest_cache
.mypy_cache

.hypothesis/
*.DotSettings.user

**/.ipynb_checkpoints/

# LAMMPS runtime output
log.lammps
